<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pharmaci home page</title>
    <link rel="stylesheet" href="./pharmaci_home.css">
    <script src="./../../../jquery-3.6.1.min.js"></script>
</head>
<body>
    <!-- start of error popup -->
  <div id="error_popup" style="display: none;">
    <div id="error_popup_child">
      <div id="error_header_pop">
        <p>Error</p>
      </div>
      <div id="error_underline">

      </div>
      <div id="error_message_pop">
        
      </div>
    </div>
  </div>
  <!-- end of error popup -->
  <!-- start of success popup -->
  <div id="success_popup" style="display: none">
    <div id="success_popup_child">
      <div id="success_header_pop">
        <p>Success</p>
      </div>
      <div id="success_underline">

      </div>
      <div id="success_message_pop">
      </div>
    </div>
  </div>
  <!-- end of success popup -->
  <!-- start command popup -->
    <div id="order_popup" style="display: none;">
        <div id="order_popup_con">
            <div id="med_name_con">
                <h1 id="ordered_med_name"></h1>
                <div id="order_popup_underline"></div>
            </div>
            <div id="range_total_con">
                <div id="range_con">
                    <input type="range" id="set_qte" min="1" max="" value="1">
                    <h2 id="qte_val"></h2>
                </div>
                
                <div id="order_total_con">
                    <h1 id="order_total"></h1><img src="./total.png" alt="">
                </div>
            </div>
            <div id="order_popup_buttons">
                <button id="add_order" ordered_id_med="" ordered_id_for="">Order</button>
                <button id="exite_order_popup">cancel</button>
            </div>
        </div>
    </div>
<!-- end command popup -->
    <!-- filter popup strat -->
    <div id="filter_popup" style="display: none;">
        <div id="filter_popup_con">
            <div id="price_filter">
                <h3>Set Price</h3>
                <div id="price_range">
                    <input type="number" placeholder="MIN" id="PriceLess">
                    <h4>Between</h4>
                    <input type="number" placeholder="MAX"id="PriceGrater">
                </div>
            </div>
            <div id="underline_filter"></div>
            <div id="qte_filter">
                <h3>Set how much</h3>
                <div id="qte_range">
                    <input type="number" placeholder="MIN" id="QteLess">
                    <h4>Between</h4>
                    <input type="number" placeholder="MAX"id="QteGrater">
                </div>
            </div>
        </div>

    </div>
    <!-- filter popup end -->
    <!-- search popup start -->
    <div id="search_popup" style="display: none;">
        <div id="search_popup_con">
            <div id="search_filter_con">
                <div id="search_con">
                    <input type="text" id="search_bar" placeholder="Search"><button id="search_button"><img src="./search.png" alt="" width="23px" ></button>
                </div>
                
                    <button id="filter_button">
                        Filter <img src="./filter.png" alt="" srcset="">
                    </button>
            </div>
            <div id="show_result">
                
                
            </div>
            <div id="exite_con">
                <button id="cancel">Cancel</button>
            </div>
            
        </div>

    </div>
    <!-- search popup end -->
    <header>
        <div id="user_info_con">
            <div id="username_email_con">
                <img src="./user.png" alt="" srcset="" width="35px">
                <div>
                    <p id="username">
                       
                    </p>
                    <p id="email">
                        - 
                    </p>
                </div>
            </div>
    
        </div>
        <button id="logout">Exit</button>
    </header>
    <main>
        <div id="commande_con">
            <div id="all_commande_unrefused">
                <div id="commande_title">
                    <p>ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="all_commande_refused">
                <div id="commande_title">
                    <p>REFUSED ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">

                            

                        </div>
                    </div>
                </div>
            </div>
            <div id="all_commande_canceled">
                <div id="commande_title">
                    <p>CANCELED ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">
                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="operation_con">
    
            <div id="operation_buttons">
                <div id="operation_title">
                    <h2 >Operations</h2>
                    <div id="underline">
                        
                    </div>
                </div>
                <div id="all_buttons">
                    <button id="search_med">search for medicent</button>
                </div>
                
            </div>
        </div>

    </main>
    <footer>
        
    </footer>

    <script src="./pharmaci_home.js"></script>
</body>
</html>