@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% ); 
}
/*filter popup start*/
#filter_popup{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: #8b8c893a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
  }
#filter_popup_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 30%;
  height: 50%;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
#price_filter,#qte_filter{
  gap: 10px;
  width: 100%;
  height: 47%;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#price_filter h3,#qte_filter  h3{
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
text-transform: uppercase;
  color:#262322;
}
#underline_filter{
  width: 80%;
  height: 1%;
  border-radius: 5px;
  background-color: #8EC5FC;
background-image: linear-gradient(270deg, #8EC5FC 0%, #E0C3FC 100%);
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  
}
#price_range{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#qte_range{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#price_range input{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #8EC5FC;
  font-family: 'Roboto Slab', serif;
  color: white;
  outline: none;
  border: 0px none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 200ms;
}
#price_range input:focus{
  transform: translateY(-5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 65px;
  height: 45px;
  background-color: white;
  border:1px solid #8EC5FC;
  color:black;
  font-weight: 600;
  font-size: 18px;
}
#price_range input::-webkit-outer-spin-button,
#price_range input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#price_range input::-webkit-input-placeholder{
  color: white;
}
#qte_range input{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #8EC5FC;
  font-family: 'Roboto Slab', serif;
  color: white;
  outline: none;
  border: 0px none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 200ms;
}
#qte_range input:focus{
  transform: translateY(-5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 65px;
  height: 45px;
  background-color: white;
  border:1px solid #8EC5FC;
  color:black;
  font-weight: 600;
  font-size: 18px;
}
#qte_range input::-webkit-outer-spin-button,
#qte_range input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#qte_range input::-webkit-input-placeholder{
  color: white;
}


/*filter popup end*/
/*search popup start*/
#search_popup{
  background-color: rgb(139, 140, 137,0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3% 0 0 0;
}
#search_popup_con{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 50%;
  min-height: 20%;
  max-height: fit-content;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#search_filter_con{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5%;
  
}
#search_con{
  display: flex;
  justify-content: center;
  align-items: center;

}
#search_button{
  width: 60px;
  height: 40px;
  border-radius: 0 3.5px 3.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262322;
  border-color: #262322;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 200ms;

}
#search_bar{
  height: 40px;
  border-radius: 3.5px 0 0 3.5px;
  outline: none;
  border-style: solid;
  width: 200px;
  border-color: #262322;
  padding-left: 10px;
  color: #262322;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
}
#search_bar:focus{
  border-color: #8EC5FC;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateX(-5px);
  border-radius: 3.5px;
  width: 230px;
}
#search_bar:focus + #search_button{
  
  border-color: #8EC5FC;
  background-color: #8EC5FC;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translateX(5px);
  border-radius: 3.5px;
}

#filter_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border: 0px;
  background-color: #8EC5FC;
  color: white;
  border-radius: 5px;
  height: 40px;
  gap: 5px;
  font-size: 20px;
  transition: 250ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#filter_button:hover{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transform: translateY(-5px);
  background-color: #ADE8F4;
}
#filter_button:active{
  transform: translateY(0px);
  background-color: #023E8A;
}

#show_result{
  padding: 7px;
  width: 88%;
  min-height: 50px;
  max-height:  450px;
  overflow:auto;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 3px;
  

}
#show_result ::-webkit-scrollbar{
  display: none;
}

#exite_con{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#cancel{
  width:14%;
  height: 40px;
  appearance: none;
  background-color: white;
  border: 2px solid #f40d3c;
  border-radius: 5px;
  box-sizing: border-box;
  color: #f40d3c;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cancel:disabled {
  pointer-events: none;
}
#cancel:hover {
  color: white;
  background-color: #f40d3c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-3px);
}

#cancel:active {
  box-shadow: none;
  transform: translateY(0);
}





/*search popup end*/
header{
    width: 100%;
    height: 9.5%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#user_info_con{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #username_email_con{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    gap: 1%;
  }
  #username_email_con #username{
    font-size: 23px;
    color: #262322;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
  }
  #username_email_con #email{
    color: #8b8c89;
  }
  
  #logout{
    width: 10%;
    height: 29px;
    appearance: none;
    background-color: #f40d3c;
    border: 2px solid #f40d3c;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 3% 0 0;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  #logout:disabled {
    pointer-events: none;
  }
  #logout:hover {
    color: #f40d3c;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-3px);
  }
  
  #logout:active {
    box-shadow: none;
    transform: translateY(0);
  }
main{
    width: 100%;
    height: 82%;
    display: flex;
}
#commande_con{
  width: 70%;
  height: 100%;
  overflow:auto;
  padding: 4.3% 0 0 5%;


}
/* Hide scrollbar */
#commande_con::-webkit-scrollbar {
  display: none;
}

#all_commande_unrefused,#all_commande_refused,#all_commande_canceled{
    margin-bottom: 5%;
    width: 90%;
    height: 456px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:white;
    border-radius: 10px;
    
}
#commande_title{
  width: 100%;
  height: 20%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* box-shadow: rgba(25, 27, 29, 0.1) 0px 10px 10px -10px; */
  
}
#commande_title p{
    font-size: 30px;
    font-weight: 500;
    width: fit-content;
    position: relative;
    padding-bottom: 1px;
    color: #575251;
}
#all_commande_unrefused #underline_commande{
  width: 90%;
  height: 5px;
  border-radius: 50px;
background: rgb(58,163,180);
background: linear-gradient(90deg, rgba(58,163,180,1) 0%, rgba(29,253,43,1) 89%);
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    
}
#all_commande_refused #underline_commande{
  width: 90%;
  height: 5px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background: rgb(251,202,63);
background: linear-gradient(90deg, rgba(251,202,63,1) 0%, rgba(244,13,13,1) 55%);
}
#all_commande_canceled #underline_commande{
  width: 90%;
  height: 5px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  background-color: #A9C9FF;
background-image: linear-gradient(270deg, #A9C9FF 0%, #FFBBEC 100%);
}
#commande_display{
  width: 100%;
  height: 80%;
}

#display_con{
  width: 100%;
  height: 100%;
  padding: 1.5% 1.5% 1.5% 1.5%;
}
#display{
  background-color: #f8f7f9;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px inset; 
  overflow:auto;
}
#all_commande_refused #display{
  background-color:#ffadadb6;

}
#all_commande_unrefused #display{
  background-color:#caffbfb6;
  
}
#all_commande_canceled #display{
  background-color:#8d99ae79;
  
}
#med{
  background-color: white;
  flex-wrap: wrap;
  width: 90%;
  height: 25%;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2% 0 2% 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#med div{
  flex-wrap: wrap;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
#med div h3{
  font-family: 'Roboto Slab', serif;
  color:#091540;
}


  #operation_con{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #operation_buttons{
    width: 80%;
    height: 80%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
  }
  #operation_title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;

  }
  #operation_title p{
    font-size: 25px;
  font-weight: 500;
  position: relative;
  }
  #underline{
    width: 90%;
    height: 3px;
    background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }

  #all_buttons{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    
  }
  

  
/* CSS */
#all_buttons button{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 10%;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#all_buttons button:disabled {
  pointer-events: none;
}

#all_buttons button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-5px);
  background-color: white;
  color: #000000;
  border-color: #1A1A1A;
}

#all_buttons button:active {
  box-shadow: none;
  transform: translateY(0);
}
footer{
    width: 100%;
    height: 8%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}
