<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pharmaci home page</title>
    <link rel="stylesheet" href="./pharmaci_home.css">
    <script src="./../../../jquery-3.6.1.min.js"></script>
</head>
<body>
    
    <header>
        <div id="user_info_con">
            <div id="username_email_con">
                <img src="./user.png" alt="" srcset="" width="35px">
                <div>
                    <p id="username">
                       
                    </p>
                    <p id="email">
                        - 
                    </p>
                </div>
            </div>
    
        </div>
        <button id="logout">Exit</button>
    </header>
    <main>
        <div id="commande_con">
            <div id="all_commande_unrefused">
                <div id="commande_title">
                    <p>ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">
                                    
                        </div>
                    </div>
                </div>
            </div>
            <div id="all_commande_refused">
                <div id="commande_title">
                    <p>REFUSED ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">
                                    
                        </div>
                    </div>
                </div>
            </div>
            <div id="all_commande_canceled">
                <div id="commande_title">
                    <p>CANCELED ORDERS</p>
                    <div id="underline_commande"></div>
                </div>
                <div id="commande_display">
                    <div id="display_con">
                        <div id="display">
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="operation_con">
    
            <div id="operation_buttons">
                <div id="operation_title">
                    <h2 >Operations</h2>
                    <div id="underline">
                        
                    </div>
                </div>
                <div id="all_buttons">
                    <button id="add_med">search for medicent</button>
                </div>
                
            </div>
        </div>

    </main>
    <footer>
        
    </footer>

    <script src="./pharmaci_home.js"></script>
</body>
</html>