<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./fornisseur_login.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Form</title>
     <script src="./../../jquery-3.6.1.min.js"></script>
   </head>
<body>
  <!-- start of popup -->
  <div id="popup" style="display: none;">
    <div id="popup_child">
      <div id="header_pop">
        <p>Error</p>
      </div>
      <div id="underline">

      </div>
      <div id="message_pop">
      </div>
    </div>
  </div>
  <!-- end of popup -->
  <header>
    <button id="go_home"><a href="./../../index.html">Home</a></button>
  </header>
  <main>
    <div class="container">
      <div class="title">Login Supplier</div>
      <div class="content">
        <form action="#" id="logInForm">
          <div class="user-details">
            
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your Email" required id="email">
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" required id="password">
            </div>
          </div>
        
          <div class="button">
            <input type="submit" value="LogIn" id="logInButton">
          </div>
          <div id="go_login">
            <p>you dont have an account</p>
            <button><a href="./../singup fornisseur/fornisseur_singup.html">Singup</a></button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer>

  </footer>
  <script src="./fornisseur_login.js"></script>
</body>
</html>