body{
    margin : 0px
}
header{
    position:sticky;
    top : 0;
    background-color: #b7dee3;;
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 10px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 

}


main{
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


footer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #b7dee3;
    width: 100%;
    height: 70px;
    border-radius: 5px 5px 0 0;
    display: flex;
}


/* main */
#con1,#con2{

    width: 90%;
    height: 400px;
    display: flex;
    
}
#img-con,#img-con2{
    margin: 5px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-con img{
    width : 600px;
    
    
}
#h1-text1-con,#h1-text2-con{
     border-radius:5px ;
    margin: 5px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
}
#h1-text1-con{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
#h1-text2-con{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
#h1-text1-con h1,#h1-text2-con h1{
    
        margin: 0px auto;
        font-family: 'Ubuntu', sans-serif;
        font-size: 60px;
        color: #b7dee3;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 0 2px 1px #747474, 
            -1px 3px 1px #767676, 
            -2px 5px 1px #787878, 
            -3px 7px 1px #7a7a7a,
            -4px 9px 1px #7f7f7f,
            -5px 11px 1px #838383,
            -6px 13px 1px #878787,
            -7px 15px 1px #8a8a8a, 
            -8px 17px 1px #8e8e8e,
            -9px 19px 1px #949494,
            -10px 21px 1px #989898,
            -11px 23px 1px #9f9f9f,
            -12px 25px 1px #a2a2a2, 
            -13px 27px 1px #a7a7a7,
            -14px 29px 1px #adadad,
            -15px 31px 1px #b3b3b3,
            -16px 33px 1px #b6b6b6,
            -17px 35px 1px #bcbcbc, 
            -18px 37px 1px #c2c2c2,
            -19px 39px 1px #c8c8c8,
            -20px 41px 1px #cbcbcb,
            -21px 43px 1px #d2d2d2,
            -22px 45px 1px #d5d5d5, 
            -23px 47px 1px #e2e2e2,
            -24px 49px 1px #e6e6e6,
            -25px 51px 1px #eaeaea,
            -26px 53px 1px #efefef;
      
}
#h1-text1-con p,#h1-text2-con p{
    margin: 0px;
    max-width: fit-content;
    font-family: Century Gothic;
    color :black ;
    font-size: 25px;
    width: 90%;
    font-style: italic;
    text-shadow: 1.5px 1.5px 2.5px gray;
}
#img-con2 img{
    width : 550px;
    
}

#con3{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
#con3 h3{
    color: #5aa1ac;  
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px; line-height: 1;
    text-align: center; 
}

#con-button{
display: flex;
justify-content: center;
align-items: center;
max-width: fit-content;
gap: 30px;
}
#button1{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: #5aa1ac;
    background-color: white;
    color: #5aa1ac;
    transition: 0.1s;
    font-size: 15px;
    
    letter-spacing: 1.5px;
}

#button1:hover{
    height: 55px;
    background-color: #f469c2;
    color: white;
    border-color: #f469c2;
}
#button2{
    font-size: 15px;
    
    letter-spacing: 1.5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: #5aa1ac;
    background-color: #5aa1ac;
    color: white;
    transition: 0.1s;
}

#button2:hover{
    background-color: white;
    color: #f469c2;
    border-color: #f469c2;
    height: 60px;
}
/*footer*/
#foo-con1{
    gap: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foo-con1 div{
    font-style: italic;
    font-family: 'Helvetica Neue', sans-serif;
    color:white;
    text-shadow: 0.5px 0.5px 2px black;
    width: 40%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foo-con1{
    gap: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#foo-con2{
    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 30px;
}